.HomeTop {
  margin-top: 2rem;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  margin: auto;
  display: flex;
}
.ImageWrapper {
  
  text-align: center;
}
.HomeImage {
  text-align: center;
  transition: 1s;
  transform: scale(1); /* vendorless fallback */
  -o-transition: 1s; /* opera */
  -ms-transition: 1s; /* IE 10 */
  -moz-transition: 1s; /* Firefox */
  -webkit-transition: 1s; /*safari and chrome */

  height: 300px;
}
.HomeImage:hover {
  transform: scale(1.1);
  transition: 1s;
}
.sectionTitle {
  font-family: "Druk Wide Bold", sans-serif;

  font-size: 70px;
  font-weight: 550;
  color: #66FF66  ;
  line-height: 75px;
  padding-bottom: 10px;
}

.sectionText {

  font-family: 'Montserrat';
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: left;
  margin-bottom: 70px;
}

.sectionSubTitle {
  font-size: 30px;
  font-weight: 550;
  color: black;
}

.Left {
  margin: 10px;
  width: 50%;
}
.midSection {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .sectionTitle {
    padding-bottom: 5px;
    font-size: 25px;
    line-height: 30px;
  }
  .sectionText {
    font-family: 'Montserrat';

    font-size: 15px;
    padding-bottom: 0px;
    line-height: 20px;
  }
  .HomeImage {
    transition: 1s;
    transform: scale(0.6);
  }
  .HomeImage:hover {
    transform: rotate(25deg);
  }
  .ImageWrapper {
    align-items: left;
    text-align: center;
  }
}
