.contact {
  margin: 2rem 0rem;
  padding: 2px;
}


.contactRight {
  height: 80vh;
  background-position: left;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .ContactInner {
    display: block;
  }
  .contact {
    margin: 15px 0px;
    padding: 10px 0px;
  }
}


