.faq {
  margin: 3rem 0rem;
}
.sectionTitle {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 550;
  color: white;
  line-height: 75px;
  text-align: left;
  margin-bottom: 10px;
}

.questionText {
  line-height: 30px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: left;
}

.questionAnswer {
  text-align: left;
  line-height: 22px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
