.title {
  text-align: left;
  font-size: 40px;
  font-weight: 550;
  color: black;
  font-family: "Druk Wide Bold", sans-serif;
  ;
}

.text {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 25px;
}

.contactTop {
  text-align: left;
}
