.title {
  text-align: left;
  font-size: 40px;
  font-weight: 550;
  color: white;
  font-family: monospace;
}

.text {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.contactTop {
  text-align: left;
}
