.topText {
  font-size: 40px;

  font-family: "Druk Wide Bold", sans-serif;
  ;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .topText {
    margin: 2rem 0rem;
  }
}
